In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [66]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn import preprocessing
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn import metrics
from sklearn import datasets
from sklearn.model_selection import cross_val_score

In [3]:
df = pd.read_csv("WA_Fn-UseC_-HR-Employee-Attrition.csv")

In [24]:
df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,YearsWithCurrManager,e.Attrition,e.BusinessTravel,e.Department,e.EducationField,e.Gender,e.JobRole,e.MaritalStatus,e.Over18,e.OverTime
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,5,1,2,2,1,0,7,2,0,1
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,7,0,1,1,1,1,6,1,0,0
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,0,1,2,1,4,1,2,2,0,1
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,0,0,1,1,1,0,6,1,0,1
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,2,0,2,1,3,1,2,1,0,0
5,32,No,Travel_Frequently,1005,Research & Development,2,2,Life Sciences,1,8,...,6,0,1,1,1,1,2,2,0,0
6,59,No,Travel_Rarely,1324,Research & Development,3,3,Medical,1,10,...,0,0,2,1,3,0,2,1,0,1
7,30,No,Travel_Rarely,1358,Research & Development,24,1,Life Sciences,1,11,...,0,0,2,1,1,1,2,0,0,0
8,38,No,Travel_Frequently,216,Research & Development,23,3,Life Sciences,1,12,...,8,0,1,1,1,1,4,2,0,0
9,36,No,Travel_Rarely,1299,Research & Development,27,3,Medical,1,13,...,7,0,2,1,3,1,0,1,0,0
10,35,No,Travel_Rarely,809,Research & Development,16,3,Medical,1,14,...,3,0,2,1,3,1,2,1,0,0
11,29,No,Travel_Rarely,153,Research & Development,15,2,Life Sciences,1,15,...,8,0,2,1,1,0,2,2,0,1
12,31,No,Travel_Rarely,670,Research & Development,26,1,Life Sciences,1,16,...,3,0,2,1,1,1,6,0,0,0
13,34,No,Travel_Rarely,1346,Research & Development,19,2,Medical,1,18,...,2,0,2,1,3,1,2,0,0,0
14,28,Yes,Travel_Rarely,103,Research & Development,24,3,Life Sciences,1,19,...,3,1,2,1,1,1,2,2,0,1
15,29,No,Travel_Rarely,1389,Research & Development,21,4,Life Sciences,1,20,...,8,0,2,1,1,0,4,0,0,0
16,32,No,Travel_Rarely,334,Research & Development,5,2,Life Sciences,1,21,...,5,0,2,1,1,1,6,0,0,1
17,22,No,Non-Travel,1123,Research & Development,16,2,Medical,1,22,...,0,0,0,1,3,1,2,0,0,1
18,53,No,Travel_Rarely,1219,Sales,2,4,Life Sciences,1,23,...,7,0,2,2,1,0,3,1,0,0
19,38,No,Travel_Rarely,371,Research & Development,2,3,Life Sciences,1,24,...,2,0,2,1,1,1,6,2,0,1
20,24,No,Non-Travel,673,Research & Development,11,2,Other,1,26,...,3,0,0,1,4,0,4,0,0,0
21,36,Yes,Travel_Rarely,1218,Sales,9,4,Life Sciences,1,27,...,3,1,2,2,1,1,8,2,0,0
22,34,No,Travel_Rarely,419,Research & Development,7,4,Life Sciences,1,28,...,11,0,2,1,1,0,5,2,0,0
23,21,No,Travel_Rarely,391,Research & Development,15,2,Life Sciences,1,30,...,0,0,2,1,1,1,6,2,0,0
24,34,Yes,Travel_Rarely,699,Research & Development,6,1,Medical,1,31,...,3,1,2,1,3,1,6,2,0,0
25,53,No,Travel_Rarely,1282,Research & Development,5,3,Other,1,32,...,8,0,2,1,4,0,3,0,0,0
26,32,Yes,Travel_Frequently,1125,Research & Development,16,1,Life Sciences,1,33,...,7,1,1,1,1,0,6,2,0,1
27,42,No,Travel_Rarely,691,Sales,8,4,Marketing,1,35,...,2,0,2,2,2,1,7,1,0,0
28,44,No,Travel_Rarely,477,Research & Development,7,4,Medical,1,36,...,17,0,2,1,3,0,0,1,0,0
29,46,No,Travel_Rarely,705,Sales,2,4,Marketing,1,38,...,1,0,2,2,2,0,3,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440,36,No,Travel_Frequently,688,Research & Development,4,2,Life Sciences,1,2025,...,2,0,1,1,1,0,4,0,0,0
1441,56,No,Non-Travel,667,Research & Development,1,4,Life Sciences,1,2026,...,9,0,0,1,1,1,0,0,0,0
1442,29,Yes,Travel_Rarely,1092,Research & Development,1,4,Medical,1,2027,...,2,1,2,1,3,1,6,1,0,1
1443,42,No,Travel_Rarely,300,Research & Development,2,3,Life Sciences,1,2031,...,14,0,2,1,1,1,3,1,0,0
1444,56,Yes,Travel_Rarely,310,Research & Development,7,2,Technical Degree,1,2032,...,8,1,2,1,5,1,2,1,0,0
1445,41,No,Travel_Rarely,582,Research & Development,28,4,Life Sciences,1,2034,...,10,0,2,1,1,0,4,1,0,0
1446,34,No,Travel_Rarely,704,Sales,28,3,Marketing,1,2035,...,7,0,2,2,2,0,7,1,0,0
1447,36,No,Non-Travel,301,Sales,15,4,Marketing,1,2036,...,11,0,0,2,2,1,7,0,0,0
1448,41,No,Travel_Rarely,930,Sales,3,3,Life Sciences,1,2037,...,4,0,2,2,1,1,7,0,0,0
1449,32,No,Travel_Rarely,529,Research & Development,2,3,Technical Degree,1,2038,...,2,0,2,1,5,1,6,2,0,0
1450,35,No,Travel_Rarely,1146,Human Resources,26,4,Life Sciences,1,2040,...,7,0,2,0,1,0,1,2,0,1
1451,38,No,Travel_Rarely,345,Sales,10,2,Life Sciences,1,2041,...,9,0,2,2,1,0,7,1,0,0
1452,50,Yes,Travel_Frequently,878,Sales,1,4,Life Sciences,1,2044,...,1,1,1,2,1,1,7,0,0,0
1453,36,No,Travel_Rarely,1120,Sales,11,4,Marketing,1,2045,...,0,0,2,2,2,0,7,1,0,0
1454,45,No,Travel_Rarely,374,Sales,20,3,Life Sciences,1,2046,...,1,0,2,2,1,0,7,2,0,0
1455,40,No,Travel_Rarely,1322,Research & Development,2,4,Life Sciences,1,2048,...,2,0,2,1,1,1,6,2,0,0
1456,35,No,Travel_Frequently,1199,Research & Development,18,4,Life Sciences,1,2049,...,2,0,1,1,1,1,0,1,0,1
1457,40,No,Travel_Rarely,1194,Research & Development,2,4,Medical,1,2051,...,2,0,2,1,3,0,6,1,0,0
1458,35,No,Travel_Rarely,287,Research & Development,1,4,Life Sciences,1,2052,...,1,0,2,1,1,0,6,1,0,0
1459,29,No,Travel_Rarely,1378,Research & Development,13,2,Other,1,2053,...,3,0,2,1,4,1,2,1,0,1
1460,29,No,Travel_Rarely,468,Research & Development,28,4,Medical,1,2054,...,4,0,2,1,3,0,6,2,0,0
1461,50,Yes,Travel_Rarely,410,Sales,28,3,Marketing,1,2055,...,0,1,2,2,2,1,7,0,0,1
1462,39,No,Travel_Rarely,722,Sales,24,1,Marketing,1,2056,...,6,0,2,2,2,0,7,1,0,0
1463,31,No,Non-Travel,325,Research & Development,5,3,Medical,1,2057,...,7,0,0,1,3,1,4,2,0,0
1464,26,No,Travel_Rarely,1167,Sales,5,3,Other,1,2060,...,0,0,2,2,4,0,8,2,0,0
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,0,1,1,3,1,2,1,0,0
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,7,0,2,1,3,1,0,1,0,0
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,3,0,2,1,1,1,4,1,0,1
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,8,0,1,2,3,1,7,1,0,0
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,2,0,2,1,3,1,2,1,0,0

In [4]:
df.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [5]:
le = preprocessing.LabelEncoder()

In [6]:
def encode_col(col_name):
    encodes = le.fit(df[col_name])
    new_col_name = "e."+col_name
    df[new_col_name] = df[col_name].map(lambda x: encodes.transform([x]))
    df[new_col_name] = df[new_col_name].map(lambda x:x[0])
    return

In [7]:
encode_col('Attrition')
encode_col('BusinessTravel')
encode_col('Department')
encode_col('EducationField')
encode_col('Gender')
encode_col('JobRole')
encode_col('MaritalStatus')
encode_col('Over18')
encode_col('OverTime')

In [8]:
x = df[["Age","e.BusinessTravel","DailyRate","e.Department","DistanceFromHome","Education","e.EducationField",'EmployeeCount',"EmployeeNumber","EnvironmentSatisfaction","e.Gender","HourlyRate","JobInvolvement","JobLevel","e.JobRole","JobSatisfaction","e.MaritalStatus","MonthlyIncome","MonthlyRate","NumCompaniesWorked","e.Over18","e.OverTime","PercentSalaryHike","PerformanceRating","RelationshipSatisfaction","StandardHours","StockOptionLevel","TotalWorkingYears","TrainingTimesLastYear","WorkLifeBalance","YearsAtCompany","YearsInCurrentRole","YearsSinceLastPromotion","YearsWithCurrManager"]]

In [9]:
y = df["e.Attrition"]

In [52]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 42)

In [53]:
x.shape

(1470, 34)

In [54]:
y.shape

(1470,)

In [55]:
clf=RandomForestClassifier(random_state=0)

In [56]:
trained_model=clf.fit(x_train,y_train)

In [67]:
scores = cross_val_score(clf, x, y)
scores.mean()

0.85578231292517015

In [57]:
trained_model

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [58]:
predictions=trained_model.predict(x_test)

In [59]:
accuracy_score(y_train,trained_model.predict(x_train))

0.98469387755102045

In [60]:
accuracy_score(y_test,predictions)

0.87755102040816324

In [61]:
confusion_matrix(y_test,predictions)

array([[253,   2],
       [ 34,   5]], dtype=int64)

In [62]:
report = classification_report(y_test,predictions)
print(report)

             precision    recall  f1-score   support

          0       0.88      0.99      0.93       255
          1       0.71      0.13      0.22        39

avg / total       0.86      0.88      0.84       294

In [63]:
mean_squared_error(y_test, predictions)

0.12244897959183673

In [64]:
r2_score(y_test,predictions)

-0.064253393665158365

In [38]:
predictions

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0], dtype=int64)